# Mac OS
*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Maven
log/
target/

# Intellij
.idea/
*.iml
*.iws

# NetBeans
node_modules/
dist/
*.log
nbproject/private/*    
*.bak
*.orig
*~
*.log

